page-home {
    .card-background-page{
        ion-card{
            position: relative;
            text-align: center;
        }

        .card-title{
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: white;
        }

        .card-subtitle{
            position: absolute;
            top: 52%;
            font-size: 1.2em;
            width: 100%;
            font-weight: bold;
            color: white;
        }
    }
}
