.slide-background{
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-zoom{
    height: 100%;
    background: rgba(32, 32, 32, 0.2) !important;
}

ion-slides{
    height: 100vh;;
}

.scroll-content{
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}   

.login-container{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10vw;
    text-align: center;
    color: #fff;
}

.login-button{
    text-transform: uppercase;
    &.activated {
        background-color: rgba(255, 255, 255, .4) !important
    }
}

ion-item{
    padding-left: 10px !important;
    margin-bottom: 15px !important;
    color: #fff !important;
    background-color: rgba(255, 255, 255, .4) !important;
    font-size: 0.9em;
}

::-webkit-input-placeholder {
    color: #fff !important;
}    

ion-content {
    background: linear-gradient(316deg, transparentize(#405d94, .15), #003300);
    background-size: 1800% 1800%;
    animation: gradient-effect 15s linear infinite;
  }